//was in progress with first static page, can be deleted when Shivaji enters final navpage


p {
font-family: verdana;
font-size: 20px
color: black
}

h1 {
	font-family: Fantasy
	font-size: 40px
	color: red
}
